#amenidades {
    .banner {
        position: relative;
        background: white url("/resources/images/banner-amenidades.jpg")
            no-repeat 30% top;
        background-size: cover;
        padding-bottom: 214%;
        @include media-breakpoint-up(lg) {
            padding-bottom: 61%;
        }

        .shadow {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(
                270deg,
                #6b5757 29.59%,
                rgba(107, 87, 87, 0) 71.86%
            );
            opacity: 0.6;
            @include media-breakpoint-up(lg) {
                background: linear-gradient(
                    270deg,
                    #6b5757 49.59%,
                    rgba(107, 87, 87, 0) 71.86%
                );
            }
        }

        .banner-content {
            position: absolute;
            top: 12%;
            width: 100%;
            right: 0;
            text-align: center;
            color: white;

            @include media-breakpoint-up(lg) {
                top: 32%;
                width: 40%;
                right: 10%;
            }

            @include media-breakpoint-up(xl) {
                top: 40%;
                width: 30%;
                right: 15%;
            }

            h3 {
                font-size: 16px;
                font-weight: 400;
                text-transform: uppercase;
                height: 30px;
                line-height: 18px;

                @include media-breakpoint-up(md) {
                    font-size: 18px;
                    line-height: 20px;
                }

                @include media-breakpoint-up(lg) {
                    font-size: 18px;
                    line-height: 30px;
                }
            }

            h1 {
                font-size: 40px;
                font-weight: 400;
                height: 42px;
                line-height: 40px;

                @include media-breakpoint-up(md) {
                    font-size: 65px;
                    height: 48px;
                }

                @include media-breakpoint-up(lg) {
                    font-size: 80px;
                    height: 82px;
                    line-height: normal;
                }
            }

            h2 {
                font-size: 20px;
                font-weight: 300;
                line-height: 20px;

                @include media-breakpoint-up(md) {
                    font-size: 40px;
                    line-height: 40px;
                }
            }

            p {
                font-size: 16px;
                font-weight: 400;
                line-height: 20px;
                height: 100px;
                margin-top: 25px;
                padding: 0 20px;

                @include media-breakpoint-up(md) {
                    font-size: 18px;
                    line-height: 20px;
                    margin-top: 25px;
                    padding: 0 100px;
                }

                @include media-breakpoint-up(lg) {
                    line-height: 25px;
                    margin-top: 20px;
                }
            }
        }
    }

    .bg-dark-blue {
        background: $darkBlue url("/resources/images/bg-contact.jpg") no-repeat
            left bottom;
        background-size: cover;
        height: 90px;
        color: white;
        text-align: center;
        display: flex;
        justify-content: center;
        text-transform: uppercase;
        font-size: 20px;
        align-items: center;

        @include media-breakpoint-up(lg) {
            font-size: 40px;
            height: 212px;
        }
    }

    .bg-beige {
        background: $beige url("/resources/images/beige-bg.jpg") no-repeat 0 0;
        background-size: cover;
        padding: 45px 65px;
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        @include media-breakpoint-up(lg) {
            text-align: inherit;
            padding: 45px;
        }

        p {
            font-size: 16px;
            line-height: 18px;

            @include media-breakpoint-up(lg) {
                font-size: 18px;
                line-height: 25px;
            }
        }

        h2 {
            font-size: 40px;
            line-height: 40px;
            color: $darkBlue;
            margin-bottom: 20px;

            @include media-breakpoint-up(lg) {
                font-size: 50px;
                line-height: 60px;
            }
            @include media-breakpoint-up(xl) {
                font-size: 60px;
                line-height: 70px;
            }
        }
        .title-small {
            font-size: 30px;

            @include media-breakpoint-up(lg) {
                font-size: 40px;
                line-height: 70px;
            }
            @include media-breakpoint-up(xl) {
                font-size: 60px;
                line-height: 70px;
            }
        }

        .list-middle {
            @include media-breakpoint-up(lg) {
                width: 60%;
                margin-left: 40%;
            }
        }

        ul {
            font-size: 16px;
            line-height: 18px;
            margin-top: 15px;
            text-align: left;

            @include media-breakpoint-up(lg) {
                font-size: 18px;
                line-height: 25px;
                margin-top: 30px;
            }
        }

        &.text-end {
            ul {
                width: 50%;
                text-align: left;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-self: flex-end;
            }
        }
    }
    .departamentos-en-venta {
        flex-direction: column;
        height: auto;
        padding: 124px 0;

        h2 {
            font-size: 16px;
            line-height: 30px;
            font-weight: 400;
            
            @include media-breakpoint-up(lg){
                font-size: 18px;
            }
        }

        h1 {
            font-size: 25px;
            line-height: 25px;
            font-weight: 250;
            margin-top: 28px;
            
            
            @include media-breakpoint-up(lg) {
                font-size: 50px;
                line-height: 50px;
                padding: 0px;
            }
        }

        p {
            font-size: 16px;
            line-height: 18px;
            width: 90%;
            margin: 28px auto;
            font-weight: 300;
            padding: 0;
            text-transform: math-auto;

            @include media-breakpoint-up(lg){
                font-size: 18px;
                padding: 0 40px;
                width: 60%;
                line-height: 30px;
            }
        }

        .btn-brown {
            width: 246px;
            font-size: 18px;
            margin: 37px auto;
            justify-content: center;
            text-transform: math-auto;
        }
    }
    
    .informes {
        background: white url("/resources/images/banner-informes.jpg") no-repeat center 37%;
        background-size: cover;
        flex-direction: column;
        height: auto;
        padding: 90px 0;
        position: relative;

        @include media-breakpoint-up(lg) {
            padding: 100px 0;
        }

        .banner-content {
                width: 100%;
                right: 0;
                text-align: center;

                h2 {
                    font-size: 25px;
                    font-weight: 250;
                    line-height: 25px;
                    color: darkblue;

                    @include media-breakpoint-up(lg) {
                        font-size: 50px;
                        line-height: 50px;
                    }
                    
                }

                p{
                    font-size: 16px;
                    line-height: 18px;
                    width: 90%;
                    margin: 28px auto;
                    font-weight: 400;
                    padding: 0px;
                    text-transform: math-auto;

                    @include media-breakpoint-up(lg) {
                        font-size: 18px;
                        line-height: 30px;
                        width: 60%;
                        padding: 0 140px;
                    }
                }

                .btn-brown {
                    width: 182px;
                    font-size: 18px;
                    margin: 37px auto;
                    justify-content: center;
                    text-transform: math-auto;
                    height: 49px;
                }
        }
    }
}
