.header {
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    height: 60px;
    z-index: 1000;
    transition: all 0.3s ease;
    background-color: rgba(0, 0, 0, 0.8);
    @include media-breakpoint-up(lg) {
        height: 179px;
        background-color: transparent;
    }
    .pleca {
        background: transparent url("/resources/images/header-pleca.svg")
            no-repeat 0 0;
        background-size: cover;
        width: 173px;
        height: 63px;
        z-index: 2;
        position: absolute;
        @include media-breakpoint-up(md) {
            height: 75px;
            width: 210px;
        }
        @include media-breakpoint-up(lg) {
            width: 326px;
            height: 115px;
        }
        @include media-breakpoint-up(xl) {
            width: 444px;
            height: 160px;
        }
    }
    .bg-blue {
        background: transparent url("/resources/images/header.svg") no-repeat
            top right;
        background-size: 145% auto;
        height: 52px;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        @include media-breakpoint-up(md) {
            background-position: bottom right;
            background-size: 100% auto;
            height: 70px;
        }
        @include media-breakpoint-up(lg) {
            background-size: cover;
            height: 110px;
        }
        @include media-breakpoint-up(xl) {
            // background-size: contain;
            height: 150px;
        }
    }
    .logo {
        background-color: $beige;
        width: 75px;
        height: 85px;
        display: flex;
        position: relative;
        z-index: 10;
        justify-content: center;
        align-items: center;
        padding: 0 5px;
        @include media-breakpoint-up(md) {
            width: 100px;
            height: 120px;
        }
        @include media-breakpoint-up(lg) {
            width: 147px;
            height: 179px;
            padding: 0;
        }
    }
    ul {
        position: relative;
        padding: 0;
        width: 100%;
        z-index: 10;
        display: flex;
        color: white;
        list-style: none;
        font-size: 18px;
        margin-top: 0;
        justify-content: space-around;
        @include media-breakpoint-up(lg) {
            margin-top: 24px;
        }
        li {
            height: 40px;
            a {
                display: flex;
                align-items: center;
                height: 40px;
                color: white;
                text-decoration: none;
                padding: 0 20px;
                transition: color 0.3s ease;
                &:hover {
                    color: $beige;
                }
            }
            &:last-child {
                background-color: $darkBlue;
            }
        }
    }

    .btn-lang {
        background-color: transparent;
        z-index: 10;
        position: relative;
        color: white;
        margin-top: 24px;
        height: 35px;
    }
}
